.bomb-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
  gap: 20px; /* Espaciado entre bombas */
  padding: 20px;
 }

.bomb-container {
    perspective: 1000px; /* Controla la profundidad de la perspectiva 3D */
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
  }

  /* La “carta” en sí; uso de transform-style para mantener la capa 3D */
  .bomb {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.7s ease;
  }

  /* Al hacer hover sobre el contenedor, rotamos la carta 180º en el eje Y */
  .bomb-container:hover .bomb {
    transform: rotateY(180deg);
  }

  /* Ambas caras de la carta tienen mismas dimensiones y posición */
  .bomb-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; /* Oculta la cara trasera cuando se gira */
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
  }

  /* Cara frontal */
  .bomb-front {
    background-color: #3232b6;
    color: #fff;
    font-size:xx-large;
  }

  /* Cara trasera */
  .bomb-back {
    background-image: url(https://ichef.bbci.co.uk/ace/ws/640/cpsprodpb/4353/production/_105753271_gettyimages-955124060.jpg.webp);
    background-size: cover;
    color: #fff;
    transform: rotateY(180deg); /* Para que esté “detrás” */
  }

  .bomb-back1 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTO0iGfhBM1N5zEP2wnZm82_JFueM-PgV0qw&s);
    background-size: cover;
    color: #fff;
    transform: rotateY(180deg); /* Para que esté “detrás” */
  }
